VITE_SUPABASE_URL=https://jljodgpjjocdjvrgemhe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impsam9kZ3Bqam9jZGp2cmdlbWhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgwNTA0MzIsImV4cCI6MjEwMzYyNjQzMn0.7o897zZgeYMV6pl0z8DwdhqPNNFFxSF7ucmaQYkOIY0
